:root {
  --crema: #f4efe6;
  --terracota: #d97757;
  --marron: #3b302a;
  --mostaza: #d8a94a;
  --oliva: #7a8060;
  --blanco: #fffaf3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--crema);
  color: var(--marron);
  font-family: Arial, sans-serif;
}